
.parent-pane {
    -fx-background-color: linear-gradient(to left, #4b4be3, #202021);
}

.content-pane {
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-background-color: white;
}

.username-field {
    -fx-background-color: none;
}

.username-pane {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 30;
    -fx-background-color: transparent;
}

.password-pane {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 30;
    -fx-background-color: transparent;
}

.password-field {
    -fx-background-color: none;
}

.forgot-password:hover {
    -fx-text-fill: red;
}

.login-button {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 20;
}

.login-button-hover:hover {
    -fx-border-width: 2;
    -fx-border-color: rgb(36, 76, 230);
}

.register:hover {
    -fx-text-fill: red;
}

.right-pane {
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-background-color: white;
}