
.content-pane {
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-background-color: white;
}

.username-field {
    -fx-background-color: none;
}

.username-pane {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 30;
    -fx-background-color: transparent;
}

.password-pane {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 30;
    -fx-background-color: transparent;
}

.password-field {
    -fx-background-color: none;
}

.next-button {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 20;
}

.next-button-hovered:hover {
    -fx-border-width: 2;
    -fx-border-color: rgb(36, 76, 230);
}

.back-button {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 20;
}

.back-button-hovered:hover {
    -fx-border-width: 2;
    -fx-border-color: rgb(36, 76, 230);
}

.forgot-password:hover {
    -fx-text-fill: red;
}